@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

section {
  max-width: 1200px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #hero {
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
}
main #hero .text {
  width: 100%;
  margin-bottom: 1rem;
}
main #hero .text h1 {
  font-size: clamp(3rem, 15vw, 6rem);
  font-weight: 900;
  line-height: 0.9;
  margin-bottom: 1rem;
}
main #hero .text h1 span {
  font-size: clamp(2.5rem, 10vw, 4rem);
}
main #hero .text p {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 100;
}
main #hero .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
main #hero .buttons button {
  width: 100%;
  font-size: clamp(0.8rem, 4vw, 1.1rem);
  font-weight: 600;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}
main #hero .buttons button:nth-child(1) {
  background-color: #fff;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
main #hero .buttons button:nth-child(1) i {
  font-size: clamp(0.8rem, 4vw, 2rem);
}
main #hero .buttons button:nth-child(2) {
  color: white;
  background-color: #A034F6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
main #hero .buttons button:nth-child(2) svg {
  width: 5%;
}
main #hero .video-img {
  width: 100%;
  position: relative;
}
main #hero .video-img video {
  width: 100%;
  max-width: 700px;
  border-radius: 0.8rem;
}
main #hero .video-img button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  max-width: 120px;
  aspect-ratio: 1/1;
  font-size: clamp(3rem, 10vw, 4rem);
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3843137255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #intro {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}
main #intro .container {
  width: 100%;
}
main #intro .container h2 {
  font-size: clamp(1.6rem, 5vw, 3.5rem);
  line-height: 1;
  margin-bottom: 1rem;
}
main #intro .container h2 .pink {
  color: #ff6375;
}
main #intro .container h2 .yellow {
  color: #fda801;
}
main #intro .container h2 .green {
  color: #00b4a9;
}
main #intro .container .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #intro .container .cards .card {
  width: 100%;
  aspect-ratio: 1/1.5;
  border-radius: 0.5rem;
  position: relative;
  background-size: cover;
  max-width: 450px;
  padding: 1rem;
}
main #intro .container .cards .card .text h3 {
  font-size: clamp(1.2rem, 6vw, 1.8rem);
  margin-bottom: 0.5rem;
}
main #intro .container .cards .card .text p {
  opacity: 0.7;
  font-size: clamp(0.8rem, 4vw, 1.2rem);
}
main #intro .container .cards .card:nth-child(1) {
  background-image: url(./assets/woman.webp);
  background-color: #FC8EAA;
}
main #intro .container .cards .card:nth-child(2) {
  background-image: url(./assets/people.webp);
  background-color: #FCAF01;
}
main #intro .container .cards .card:nth-child(3) {
  background-image: url(./assets/man.webp);
  background-color: #009B99;
}
main #mission {
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #mission p {
  color: #A034F6;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: 600;
}
main #mission h2 {
  font-size: clamp(1.8rem, 5vw, 3rem);
}
main #instructor {
  width: 100%;
  padding: 3rem 1rem;
}
main #instructor .container {
  width: 100%;
  background-image: linear-gradient(100deg, #e1e2e2, #e1e2e2 50%, #abaaa8);
  padding: 1rem;
  overflow: hidden;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}
main #instructor .container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #instructor .container .text .title {
  color: #A034F6;
  font-weight: 600;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}
main #instructor .container .text h3 {
  font-size: clamp(1.8rem, 5vw, 3rem);
}
main #instructor .container .text .info {
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: 100;
}
main #instructor .container .text .logos {
  width: 100%;
  display: flex;
  gap: 0.8rem;
}
main #instructor .container .text .logos img {
  width: 32px;
  aspect-ratio: 1/1;
}
main #instructor .container .pablo {
  width: 100%;
  transform: translate(10%, 10%);
}
main #syllabus {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}
main #syllabus .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #syllabus .container h2 {
  font-size: clamp(1.45rem, 5vw, 3.5rem);
}
main #syllabus .container .grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #syllabus .container .grid .card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
main #syllabus .container .grid .card p {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 600;
  padding: 1rem;
}
main #syllabus .container .grid .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.7;
}
main #benefits {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}
main #benefits .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main #benefits .container .text h2 {
  font-size: clamp(1.45rem, 5vw, 3.5rem);
  margin-bottom: 1rem;
}
main #benefits .container .text .text-grp {
  display: flex;
  flex-direction: column;
}
main #benefits .container .text .text-grp .benefit {
  margin-bottom: 1rem;
}
main #benefits .container .text .text-grp .benefit h3 {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
main #benefits .container .text .text-grp .benefit p {
  opacity: 0.7;
  font-size: clamp(0.8rem, 5vw, 1rem);
}
main #benefits .container .img {
  width: 100%;
  background-image: url(./assets/benfit.webp);
  background-size: cover;
  border-radius: 0.5rem;
}
main #benefits .container .img img {
  width: 100%;
}
main #calling {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}
main #calling .container {
  width: 100%;
  border-radius: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3019607843), rgba(0, 0, 0, 0.1490196078)), url(./assets/team.webp);
  background-size: cover;
  aspect-ratio: 1/1.5;
  background-position: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
main #calling .container .text {
  text-align: center;
}
main #calling .container .text h2 {
  font-size: clamp(3rem, 15vw, 6rem);
  line-height: 0.8;
  color: #F0DB1D;
  text-align: center;
  margin-bottom: 1rem;
}
main #calling .container .text p {
  font-size: clamp(0.5rem, 4vw, 1.2rem);
  color: #F0DB1D;
  background-color: #000;
  border-radius: 1rem;
  padding: 1rem;
}
main footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 2rem;
}
main footer .comp {
  font-size: 2rem;
  font-weight: 600;
}
main footer button {
  padding: 1rem;
  width: 300px;
  color: white;
  background-color: #A034F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-size: 1rem;
  border: 0;
  gap: 0.5rem;
  cursor: pointer;
}
main footer button svg {
  width: 5%;
}
main footer .copy {
  font-size: 0.8rem;
}

@media (min-width: 500px) {
  main #hero .text h1 {
    margin-bottom: 2rem;
  }
  main #hero .text p {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    font-weight: 400;
    margin-bottom: 2rem;
  }
  main #hero .buttons {
    width: 90%;
    max-width: 460px;
    flex-direction: row;
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  main #hero .buttons button {
    padding: 0.8rem;
  }
  main #hero .buttons button:nth-child(2) svg {
    width: 12%;
  }
  main #intro .container .cards {
    flex-direction: row;
    overflow-y: scroll;
  }
  main #intro .container .cards .card {
    flex-shrink: 0;
  }
  main #intro .container .cards::-webkit-scrollbar {
    display: none;
  }
  main #instructor .container {
    padding: 3rem;
  }
  main #instructor .container .text .info {
    width: 80%;
  }
  main #instructor .container .pablo {
    margin-top: -18%;
    width: 100%;
    transform: translate(10%, 10%);
  }
  main #syllabus .container .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  main #syllabus .container .grid .card:nth-child(1) {
    grid-area: 1/1/span 2/span 2;
  }
  main #benefits .container .text .text-grp {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main #benefits .container .text .text-grp .benefit {
    width: 48%;
  }
  main #calling .container {
    aspect-ratio: 1/0.7;
    background-position: center;
  }
  main #calling .container .text p {
    font-size: clamp(0.4rem, 3vw, 1.2rem);
    width: 80%;
    margin-inline: auto;
  }
}
@media (min-width: 750px) {
  main #syllabus .container .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  main #syllabus .container .grid .card img {
    aspect-ratio: 1/1;
  }
  main #syllabus .container .grid .card:nth-child(1) {
    grid-area: 1/1/span 2/span 2;
  }
  main #benefits .container {
    flex-direction: row-reverse;
    align-items: center;
  }
  main #benefits .container .text,
  main #benefits .container .img {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  main #intro .container {
    width: 90%;
  }
  main #intro .container h2 {
    font-size: clamp(2rem, 3vw, 2.4rem);
  }
  main #intro .container .cards .card {
    flex-shrink: 1;
    width: 33%;
  }
  main #intro .container .cards .card .text {
    padding-top: 0.3rem;
  }
  main #intro .container .cards .card .text h3 {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 7vw, 1.4rem);
  }
  main #intro .container .cards .card .text p {
    font-size: 0.8rem;
  }
  main #mission p {
    font-size: clamp(0.8rem, 5vw, 1.2rem);
  }
  main #mission h2 {
    text-align: center;
    width: 75%;
    font-size: clamp(2rem, 5vw, 2.5rem);
  }
  main #instructor {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
  }
  main #instructor .container {
    width: 90%;
    padding: 3rem;
    flex-direction: row;
    overflow: visible;
    position: relative;
  }
  main #instructor .container .text {
    width: 50%;
  }
  main #instructor .container .text .info {
    width: 100%;
    font-size: 1.2rem;
  }
  main #instructor .container .pablo {
    position: absolute;
    max-width: 55%;
    right: 0;
    bottom: 0;
    margin-top: 0;
    transform: translate(0%, 0%);
    border-bottom-right-radius: 0.8rem;
  }
  main #syllabus .container {
    width: 90%;
  }
  main #syllabus .container h2 {
    font-size: 2.4rem;
  }
  main #syllabus .container .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  main #syllabus .container .grid .card p {
    font-size: 1.5rem;
  }
  main #syllabus .container .grid .card:nth-child(1) {
    grid-area: 1/1/span 2/span 2;
  }
  main #benefits .container {
    width: 90%;
  }
  main #benefits .container .text h2 {
    font-size: 2.4rem;
  }
  main #benefits .container .text .text-grp .benefit h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  main #benefits .container .text .text-grp .benefit p {
    opacity: 0.7;
    font-size: 1rem;
  }
  main #calling .container {
    width: 90%;
    aspect-ratio: 1/0.7;
    background-position: center;
  }
  main #calling .container .text h2 {
    font-size: 7rem;
    margin-bottom: 0rem;
  }
  main #calling .container .text p {
    font-size: 0.8rem;
    width: 40%;
    margin-inline: auto;
  }
}/*# sourceMappingURL=style.css.map */